/////////////////////////////////////////////////////////////////////////////////////////
/// WEBSITE CONSTANTS
/////////////////////////////////////////////////////////////////////////////////////////
///
// This means only these variables need to be changed to change the whole website
$outermargin: 10%;
$innermargin: 30%;
$papermax: 50%;
$elementtopmargin: 20px;
$elementwidthDesktop: 50%;
$elementwidthMobile: 95%;

@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors! (Dark Theme)
@use '@material/theme/index' as theme with (
	$primary: #ff3e00,
	$secondary: color.scale(#888888, $whiteness: -10%),
	$surface: color.adjust(color-palette.$grey-900, $blue: +4),
	$background: #444444,
	$error: color-palette.$red-700
);

/////////////////////////////////////////////////////////////////////////////////////////
/// SMUI CLASSES FOR MOBILE
/////////////////////////////////////////////////////////////////////////////////////////

.smui-paper-mobile {
	background-color: var(--mdc-theme-background, #888888);
	margin-top: $elementtopmargin;
	max-width: $elementwidthMobile;
	width: $elementwidthMobile;
	margin: 0 auto 24px;
	position:relative;
	z-index: 0;
}

.smui-accordion-mobile {
	margin-top: $elementtopmargin;
	max-width: $elementwidthMobile;
	width: $elementwidthMobile;
	margin: 0 auto 24px;
	position:absolute;
	z-index: -1;
}

/////////////////////////////////////////////////////////////////////////////////////////
/// SMUI CLASSES FOR DESKTOP
/////////////////////////////////////////////////////////////////////////////////////////

// This is a neat SCSS way to add to an existing class globally during theming
.smui-paper {
	@extend .smui-paper;
	background-color: var(--mdc-theme-background, #888888);
	margin-top: $elementtopmargin;
	max-width: $elementwidthDesktop;
	margin: 0 auto 24px;
	position:relative;
	z-index: 0;
}

.smui-accordion {
	@extend .smui-accordion;
	margin-top: $elementtopmargin;
	max-width: $elementwidthDesktop;
	margin: 0 auto 24px;
	position:absolute;
	z-index: -1;
}

// If changing edge, also need to change navbarWidth in navbar_desktop.svelte
/////////////////////////////////////////////////////////////////////////////////////////
/// CUSTOM CLASSES
/////////////////////////////////////////////////////////////////////////////////////////
.edge {
	margin-left: $outermargin;
	margin-right: $outermargin;
}
.innerEdge {
	margin-left: $innermargin;
	margin-right: $innermargin;
}
.innerEdgeCentred {
	margin-left: $innermargin;
	margin-right: $innermargin;
	display: flex;
	justify-content: center;
	align-items: center;
}
.outerEdgeCentred {
	margin-left: $outermargin;
	margin-right: $outermargin;
}
.leftEdge {
	margin-left: $innermargin;
	margin-right: $innermargin;
}
.leftInnerEdge {
	margin-left: $outermargin;
	margin-right: $outermargin;
}
.inverseCode {
	background-color: white;
	color: black;
}

html,
body {
	background-color: #444444;
	color: theme.$on-surface;
}

a {
	color: #40b3ff;
}
a:visited {
	color: color.scale(#40b3ff, $lightness: -35%);
}
